#sort_button
{
display: none;
margin-top: 20px;
margin-bottom: 20px;
}
input
{
    margin: 10px;
}
#submit_button
{
margin-top: 20px;
margin-bottom: 20px;
}
#display_name_with_comma
{
    
    background-color: rgb(247, 130, 251);
    border: 1px solid rgb(255, 0, 98);
    padding: 10px;
    border-radius: 10px;
    width: 50%;
}
#display_name_without_comma
{
    
    background-color: rgb(77, 215, 250);
    border: 1px solid rgb(38, 0, 255);
    padding: 10px;
    border-radius: 10px;
    width: 50%;
}

